sudo: required

env:
  - DOCKER_COMPOSE_VERSION=1.22.0

services:
  - docker

language: ruby
rvm:
  - 2.4
  - 2.5
  - 2.6

before_install:
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y install docker-ce
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - docker version
  - docker-compose version
  - gem install bundler

cache: bundler

before_script:
  - docker-compose up --detach
  - bin/rails db:create db:migrate RAILS_ENV=test

after_script:
  - docker-compose down

script: bundle exec rspec
