<nav class='navbar navbar-inverse navbar-fixed-bottom'>
  <div class='container-fluid'>
    <%= content_tag :p, class: 'navbar-text' do %>
      <%= icon('github') %>
      Created with
      <%= link_to 'chaltron', 'https://github.com/vicvega/chaltron', class: 'navbar-link' %>
    <% end %>
    <%= content_tag :p, revision, class: 'navbar-text pull-right' unless revision.nil? %>
  </div>
</nav>
