<nav class='navbar fixed-bottom navbar-dark bg-dark py-0'>
  <%= content_tag :div, class: 'navbar-text' do %>
    <%= icon(:fab, :github) %>
    Created with
    <%= link_to 'chaltron', 'https://github.com/vicvega/chaltron', class: 'navbar-link' %>
  <% end %>
  <%= content_tag :div, revision, class: 'navbar-text' unless revision.nil? %>
</nav>
