<nav class='navbar fixed-top navbar-expand-lg navbar-dark bg-dark py-0'>
  <%= link_to 'Home', root_url, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navigation">
    <%= render_navigation expand_all: true %>
    <%= render_navigation expand_all: true, context: :chaltron %>
  </div>
</nav>
