<tr>
  <td class='username'><%= ldap_entry.username %></td>
  <td class='fullname'><%= ldap_entry.name %></td>
  <td class='email'><%= ldap_entry.email %></td>
  <td class='email'><%= ldap_entry.department %></td>
</tr>
