<tr>
  <td class='username'><%= display_ldap_entry_username(ldap_entry) %></td>
  <td class='fullname'><%= ldap_entry.name %></td>
  <td class='email'><%= display_ldap_entry_email(ldap_entry) %></td>
  <td class='email'><%= ldap_entry.department %></td>
</tr>
