<% title = t('.title', user: @user.username) %>
<div class='container-fluid'>
  <h3 class='page-header'><%= title %></h3>
  <%= render partial: 'form', locals: {submit_text: title, context: :update} %>
</div>
