<tr>
  <td></td>
  <td class='username'><%= entry.username %></td>
  <td class='fullname'><%= display_entry_name(entry) %></td>
  <td class='email'><%= display_entry_email(entry) %></td>
  <td class='department'><%= entry.department %></td>
</tr>
