<tr>
  <td></td>
  <td class='username'><%= display_entry_username(entry) %></td>
  <td class='fullname'><%= entry.name %></td>
  <td class='email'><%= display_entry_email(entry) %></td>
  <td class='email'><%= entry.department %></td>
</tr>
