table#ldap_create {
  tr td:first-child {
    text-align: center;
  }

  tr td:first-child:before {
    content: "\f096"; /* fa-square-o */
    font-family: FontAwesome;
  }

  tr.selected td:first-child:before {
    content: "\f046"; /* fa-check-square-o */
  }
}  
