body {
//  background-color: #E1E1E1;
}

div#content {
  margin-top: 56px;
  margin-bottom: 56px;
}

/**
 * Flash messages
 *
 */
.flash-container {
  cursor: pointer;
  margin: 0;
  text-align: center;
  position: fixed;
  top: 40px;
  width: 100%;
  opacity: 0.8;
  z-index: 100;
  .alert {
    margin: 0;
    border-radius: 0;
  }
}

/**
 * Login
 *
 */
.login-box{
  margin-top: 100px;
  @include form-box(650px);
}

/**
 * Navbar tabs
 *
 */
 .nav-tabs {
    margin-bottom: 15px;
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 12px;
  right: 5px;
}

/**
 * Scaffold
 *
 */
.side-filters fieldset {
  margin-bottom: 15px;
}

.form-actions {
  background-color: whitesmoke;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 18px;
  margin-top: 18px;
  padding-bottom: 18px;
  padding-top: 18px;
}
