body {
}

div#content {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/**
 * Flash messages
 *
 */
.flash-container {
  cursor: pointer;
  margin: 0;
  text-align: center;
  position: fixed;
  top: 2.5rem;
  width: 100%;
  opacity: 0.8;
  z-index: 100;
  .alert {
    margin: 0;
    border-radius: 0;
  }
}

/**
 * Login
 *
 */
.login-box{
  margin-top: 100px;
  @include form-box(650px);
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 12px;
  right: 5px;
}
