<div class='jumbotron'>
  <div class='container-fluid'>
    <h1>Test #<%= @test %></h1>
    <p>
      Chaltron uses <%= link_to 'simple-navigation',
      'https://github.com/codeplant/simple-navigation' %>
      to build navbar menu.
    </p>
    <p>
      Edit <code>config/navigation.rb</code> to setup your own navbar
    </p>
    <p>
      <%= link_to 'Learn more', 'https://github.com/codeplant/simple-navigation',
        class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
