<%
  body ||= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?'
  link ||= 'https://github.com/vicvega/chaltron'
  link_text ||= 'Learn more'
%>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        <%= content_tag :i, nil, class: "fa fa-fw fa-#{icon}" %>
        <%= title %>
      </h4>
    </div>
    <div class="panel-body">
      <p><%= raw body %> </p>
      <%= link_to link_text, link, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
