// Bootstrap
@import 'bootstrap';

// font-awesome
@import 'font-awesome-sprockets';
@import 'font-awesome';

// datatables
@import 'dataTables/bootstrap.css';
@import 'dataTables/dataTables.bootstrap4.min.css';
@import 'dataTables/extras/dataTables.responsive';
@import 'dataTables/extras/select.dataTables';

// minor fix
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}

// nprogress
@import 'nprogress';
@import 'nprogress-bootstrap';

// Core variables and mixins
@import 'chaltron/mixins';

// Core CSS
@import 'chaltron/layout';

// logs
@import 'chaltron/logs';
