// Bootstrap
$font-size-base: 13px;
$navbar-height: 40px;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/theme';

// font-awesome
@import 'font-awesome-sprockets';
@import 'font-awesome';

// datatables
@import 'dataTables/bootstrap/3/jquery.dataTables.bootstrap';
@import 'dataTables/extras/dataTables.responsive';
@import 'dataTables/extras/select.dataTables';
//@import 'chaltron/datatables';

// minor fix
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}

// nprogress
@import 'nprogress';
@import 'nprogress-bootstrap';

// Core variables and mixins
@import 'chaltron/mixins';

// Core CSS
@import 'chaltron/layout';
