// Bootstrap
@import 'bootstrap';

// font-awesome
@import 'font-awesome-sprockets';
@import 'font-awesome';

// datatables
@import 'datatables/dataTables.bootstrap4';
@import 'datatables/extensions/Responsive/responsive.bootstrap4';
@import 'datatables/extensions/Select/select.bootstrap4';

// bootstrap_form
@import 'rails_bootstrap_forms';

// minor fix
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}

// nprogress
@import 'nprogress';
@import 'nprogress-bootstrap';

// Core CSS
@import 'chaltron/layout';

// logs
@import 'chaltron/logs';
