<p>Ciao <%= @resource.username %>!</p>
<p>E' stato richiesto un cambio della tua password, puoi crearne una nuova seguendo il link.</p>
<p><%= link_to 'Cambia password', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Se non sei stato tu a richiederlo, puoi ignorare il messaggio.</p>
<p>La tua password non cambier&agrave; se non seguirai il link per crearne una nuova.</p>
