name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['2.6', '2.7', '3.0']
    services:
      ldap:
        image: osixia/openldap:1.2.1
        ports:
          - 127.0.0.1:389:389
        env:
          LDAP_DOMAIN: azkaban.co.uk
          LDAP_ORGANISATION: Azkaban
          LDAP_REMOVE_CONFIG_AFTER_SETUP: 'false'
    steps:
    # this is needed to fix permission issue (https://github.com/actions/checkout/issues/211)
    - run: sudo chown -R $USER:$USER /home/runner/work/chaltron/chaltron
    - uses: actions/checkout@v2
    
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
    # uses: ruby/setup-ruby@v1
      uses: ruby/setup-ruby@473e4d8fe5dd94ee328fdfca9f8c9c7afc9dae5e
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    
    - name: Load LDAP
      run: |
        echo '==================================== 1'
        sudo apt-get install ldap-utils
        echo '==================================== 2'
        echo "Running LDAPADD"
        ldapadd -D "cn=admin, dc=azkaban, dc=co, dc=uk" -W < ${{ github.workspace }}/travis-ci/ldap

    - name: Setup database
      run: bin/rails db:create db:migrate RAILS_ENV=test
    
    - name: Run tests
      run: bundle exec rspec

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
